# Use postgres/example user/password credentials
version: '3.1'

services:
    backend:
        build:
            context: .
            dockerfile: backend.dockerfile
        restart: always
        ports:
            - 80:80
        networks:
            - lazy_network
        volumes:
            - .:/app
        environment:
            DATABASE_IP: lazydb
            DATABASE_PORT: 5432
            DATABASE_USER: lazyuser
            DATABASE_PASSWORD: lazysecret
        depends_on:
            - lazydb
        entrypoint: ["/start-reload.sh"]

    lazydb:
        image: postgres:9.6
        restart: always
        environment:
            POSTGRES_DB: lazydb
            POSTGRES_USER: lazyuser
            POSTGRES_PASSWORD: lazysecret
        ports:
            - 5432:5432
        command: ["postgres", "-c", "log_error_verbosity=terse"]
        networks:
            - lazy_network

    luigi_daemon:
        image: axiom/docker-luigi:2.8.13
        restart: always
        ports:
            - 8082:8082
        networks:
            - lazy_network
        environment:
            DATABASE_IP: lazydb
            DATABASE_PORT: 5432
            DATABASE_USER: lazyuser
            DATABASE_PASSWORD: lazysecret
        depends_on:
            - backend

    luigi_pipeline:
        build:
            context: .
            dockerfile: pipeline.dockerfile
        networks:
            - lazy_network
        volumes:
            - .:/app
        environment:
            DATABASE_IP: lazydb
            DATABASE_PORT: 5432
            DATABASE_USER: lazyuser
            DATABASE_PASSWORD: lazysecret
        depends_on:
            - luigi_daemon


networks:
    lazy_network:
