# Use postgres/example user/password credentials
version: '3.1'

services:

    frontend:
        build:
            context: .
            dockerfile: frontend.dockerfile
        restart: always
        ports:
            - 80:80
        networks:
            - lazy_network
        environment:
            WORKERS_PER_CORE: 0.5
        depends_on:
            - backend

    backend:
        build:
            context: .
            dockerfile: backend.dockerfile
        restart: always
        volumes:
            - .:/app
        networks:
            - lazy_network
        environment:
            DATABASE_IP: lazydb
            DATABASE_PORT: 5432
            DATABASE_USER: lazyuser
            DATABASE_PASSWORD: lazysecret
            WORKERS_PER_CORE: 0.5
            PORT: 5001
        depends_on:
            - lazydb

    lazydb:
        image: postgres:9.6
        restart: always
        environment:
            POSTGRES_DB: lazydb
            POSTGRES_USER: lazyuser
            POSTGRES_PASSWORD: lazysecret
        ports:
            - 5432:5432
        command: ["-c", "log_error_verbosity=terse"]
        networks:
            - lazy_network

    luigi_daemon:
        image: axiom/docker-luigi:2.8.13
        restart: always
        ports:
            - 8082:8082
        networks:
            - lazy_network
        volumes:
            - ./luigi_daemon.cfg:/etc/luigi/luigi.cfg:ro
        environment: #NOTE: Does the daemon need these credentials?
            DATABASE_IP: lazydb
            DATABASE_PORT: 5432
            DATABASE_USER: lazyuser
            DATABASE_PASSWORD: lazysecret
        depends_on:
            - backend

    luigi_pipeline:
        build:
            context: .
            dockerfile: pipeline.dockerfile
        networks:
            - lazy_network
        volumes:
            - .:/app
            - ./luigi_client.cfg:/etc/luigi/luigi.cfg:ro
        environment:
            DATABASE_IP: lazydb
            DATABASE_PORT: 5432
            DATABASE_USER: lazyuser
            DATABASE_PASSWORD: lazysecret
        depends_on:
            - luigi_daemon


networks:
    lazy_network:
