[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logme = "*"
python-decouple = "*"
fastapi = "*"
uvicorn = "*"
tda-api = "*"
SQLAlchemy = "*"
luigi = "*"
requests = "*"
uplink = "*"
pydantic = "*"
psycopg2-binary = "*"
pandas = "*"
plotly = "*"

[dev-packages]
black = "==19.10.b0"
nox = "*"
pytest-watch = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false

[packages.twitter-scraper]
git = "https://github.com/bisguzar/twitter-scraper.git"
