<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>LAZY TICKER</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link rel="stylesheet" href={{
            url_for("static", path="/css/master.css")
        }}>

    </head>

    <body>
        <div class="ui raised padded text container segment">
            <div class="ui four column grid">
                <div class="container">
                    <div class="ui raised padded text container segment">
                        <a href="/">
                            <h1 class="ui header">Lazy Ticker</h1>
                        </a>
                    </div>
                </div>

                </br>
                {% block content %}
                {% endblock %}

            </div>
        </div>

    </body>

    <script type="text/javascript">
        $('.ui.form')
            .form({
                fields: {
                    name: 'empty'
                }
            }); //
        // $(document).ready(function() {
        //     $(download_button).click(
        //         function() {
        //             $.get("/watchlist/months/download", function(data, status) {
        //                 console.log(data)
        //
        //             })
        //         }
        //     );
        // });
    </script>


</html>