{% extends "base.html" %}
{% block title_button%}

<div class="container">
    <a href="/">
        <div class="ui primary submit button">Watchlist</div>
    </a>
</div>


{% endblock %}

{% block content %}

<div class="container">
    <div class="ui raised padded text container segment">
        <h3 class="ui header">Add User</h3>
        <form class="ui form" action="/add_user" method="get">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="@dgnsrekt">
            </div>
            <button class="ui primary submit button" type="submit">Submit</button>
        </form>
    </div>
</div>
</br>



<div class="container">
    <div class="ui raised padded text container segment">

        <h3> Users Watchlist </h3>
        Currently watching {{ users_amount }} user.

        <!-- <table class="attached ui celled selectable table"> -->
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Symbols Found</th>
                    <th>Date added</th>
                </tr>
            </thead>

            {% for user in all_users%}

            <tbody>
                <tr>

                    <td data-label="Username">
                        <a href="https://twitter.com/@{{ user["name"].lower()}}">
                            @{{ user["name"].lower()}}
                        </a>

                    </td>

                    <td data-label="Symbols Found">
                        {{user["symbol_count"]}}
                    </td>

                    <td data-label="Date added">
                        {{user["date"]}} UTC
                    </td>
                </tr>
            </tbody>

            {% endfor %}
        </table>

    </div>
</div>

</br>

{% endblock %}